//bootstrap font variables
$font-family-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
	sans-serif;

$primary: #325ecd;
$dark: #282f38;
$secondary: #b6bccd;
$barChart: #407fdc;

//color variables
$EbonyClay: #282f38;
$RollingStone: #777b82;
$Akaroa: #d5b9a7;
$AthensGray: #f6f6f7;
$white: #ffffff;
$CeruleanBlue: #325ecd;
$Raven: #717c8c;
$AthensGray200: #e6e9ed;
$Iron: #d7d8da;
$Heather: #b6bccd;
$Mischka: #cdd1dd;
$HawkesBlue: #e8f0fd;
$Spindle: #b3c3ee;
$Spindle200: #b2c3ee;
$black: #000000;
$Mantis: #8cc152;

$input-placeholder-color: $Raven;
$input-plaintext-color: $black;

$input-border-radius: 0.5rem;
$input-border-radius-sm: $input-border-radius;

$input-padding-y: 1rem * 13/16;
$input-padding-x: 1rem * 13/16;
$input-font-size: 1rem * 17/16;
$input-line-height: 22/17;

$input-padding-y-sm: 1rem * 7/16;
$input-padding-x-sm: 1rem * 7/16;
$input-font-size-sm: 1rem * 17/16;
$input-line-height-sm: $input-line-height;

$input-height: add($input-line-height * 1em, $input-padding-y * 2);
$input-height-sm: add($input-line-height-sm * 1em, $input-padding-y-sm * 2);

$spinner-width-sm: 1.5rem !default;
$spinner-height-sm: $spinner-width-sm !default;
$spinner-border-width-sm: 0.2em !default;
