{
	"printWidth": 140,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"endOfLine": "auto",
	"importOrder": [
		"^next",
		"^react",
		"assets/(.*)$",
		"types/(.*)$",
		"utils/(.*)$",
		"constants/(.*)$",
		"services/(.*)$",
		"hooks/(.*)$",
		"containers/(.*)$",
		"components/(.*)$",
		"styles/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true
}
