@import "~styles/variables";

html,
button,
* {
	font-family: $font-family-base;
}

body {
	background-color: $background;
}

ul {
	list-style: none !important;
	padding: 0;
	margin: 0;
	li {
		a {
			text-decoration: none !important;
		}
	}
}

a {
	text-decoration: none !important;
}

.title {
	font-size: 40px;
	color: #fff;
}

.menu-button--active {
	position: relative;
	background: rgba(37, 37, 50);
	&::before {
		content: "";
		width: 6px;
		height: 6px;
		background: #fff;
		position: absolute;
		border-radius: 50%;
		left: 6px;
		top: calc(50% - 3px);
	}
}
