@import "~styles/variables";

body {
	background-color: $background;
}

ul {
	list-style: none !important;
	padding: 0;
	margin: 0;
	li {
		a {
			text-decoration: none !important;
		}
	}
}

a {
	text-decoration: none !important;
}
